body{
    background-color: white;
}

.banner{
    display: grid;
    background-image: url("banner.jpeg");
    opacity: .7;
    background-position: center;
    height: 300px;
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: -1;
}

.subBanner{
    height: 75px;
    color: white;
    background-color: #43BAB6;
    margin-top: 20px;
    padding:10px;
}
.bottomBanner{
    height: 60px;
    color: white;
    background-color: #43BAB6;
    margin-top: 20px;
    padding:10px;
}

.feed {
    padding: 2%;
}
