*{
    margin: 0px;
}
body{
    background-color: #212F2C;
}
.wrap{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.banner{
    display: grid;
    background-image: url("banner.jpeg");
    opacity: 75%;
    background-position: center;
    height: 300px;
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: -1;
}

.subBanner{
    height: 300px;
    color: white;
    background-color: #43BAB6;
    grid-column-start: 3;
    grid-column-end: -3;
    margin-top: 20px;
}
.bTraffic{
    font-weight: 700;
    color: white;
}
.beachCrowd{
    font-weight: bolder;
}

.subBanner form table tr td input{

}
.socialConditionsboatTraffic{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}
.bTraffic{

}
.feed{
    color: white;
    background-color: #212F2C;
    grid-column-start: 3;
    grid-column-end: -3;
    margin-top: 20px;
    padding: 20px;
}
